<div class="accordion">
  <div class="accordion-header">
    {{ block.settings.title }}
    <svg class="icon" viewBox="0 0 24 24" width="20" height="20">
      <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor" stroke-width="2" class="vertical"/>
      <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2"/>
    </svg>
  </div>
  <div class="accordion-content">
    {{ block.settings.text  }}
  </div>
</div>
